<%- include('../partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body class="bg-gray-900 text-white min-h-screen flex flex-col">
    <main class="flex-grow">
    <h2 class="text-2xl font-bold text-center mt-4">
      Hello <%=user.role%> <%=user.email%>
    </h2>
    <div class="flex flex-wrap justify-center gap-6 mt-4">
      <div
        class="bg-gray-800 p-6 rounded-lg shadow-md text-center"
      >
        <h3 class="text-lg font-semibold text-gray-300">Tickets</h3>
        <p class="text-4xl font-bold text-white mt-2"><%= tickets %></p>
      </div>
      <div
        class="bg-gray-800 p-6 rounded-lg shadow-md text-center"
      >
        <h3 class="text-lg font-semibold text-gray-300">Open Tickets</h3>
        <p class="text-4xl font-bold text-white mt-2"><%= openTickets %></p>
      </div>
      <div
        class="bg-gray-800 p-6 rounded-lg shadow-md text-center"
      >
        <h3 class="text-lg font-semibold text-gray-300">Closed Tickets</h3>
        <p class="text-4xl font-bold text-white mt-2"><%= closedTickets %></p>
      </div>
    </div>
    <% if (successMessages.length > 0 || errorMessages.length > 0) { %>
      <div
        class="hover:bg-gray-700 transition-colors duration-200 fixed bottom-4 right-4 z-50 bg-gray-800 text-white p-4 rounded-xl shadow-xl border border-gray-700"
      >
        <% successMessages.forEach(msg => { %>
        <p class="text-green-600"><%= msg %></p>
        <% }) %> <% errorMessages.forEach(msg => { %>
        <p class="text-red-600"><%= msg %></p>
        <% }) %>
      </div>
      <% } %>
  </body>
  </main>
</html>
<%- include('../partials/footer.ejs') %>